<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/feed.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div id="main">

    <div id="commentOpt"></div>
    <div id="moreopt">
      <div class="upr">
        <button class="sentii">
          <svg aria-label="Settings" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Settings</title>
            <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"></circle>
            <path
              d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
              fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
          <h5>Settings</h5>
        </button>
        <button class="sentii">
          <svg aria-label="Your activity" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Your activity</title>
            <path
              d="M19 1H5C2.794 1 1 2.794 1 5v14c0 2.206 1.794 4 4 4h14c2.206 0 4-1.794 4-4V5c0-2.206-1.794-4-4-4ZM5 3h14c1.103 0 2 .897 2 2v6h-2.382l-2.723-5.447c-.34-.678-1.45-.678-1.79 0L9 15.764l-2.105-4.211A1 1 0 0 0 6 11H3V5c0-1.103.897-2 2-2Zm14 18H5c-1.103 0-2-.897-2-2v-6h2.382l2.723 5.447a1 1 0 0 0 1.79 0L15 8.236l2.105 4.211A1 1 0 0 0 18 13h3v6c0 1.103-.897 2-2 2Z">
            </path>
          </svg>
          <h5>Your activity</h5>
        </button>
        <button class="sentii">
          <svg aria-label="Saved" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Saved</title>
            <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
          </svg>
          <h5>Saved</h5>
        </button>
        <button class="sentii">
          <svg aria-label="Theme icon" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Theme icon</title>
            <path
              d="M12.00018,4.5a1,1,0,0,0,1-1V2a1,1,0,0,0-2,0V3.5A1.00005,1.00005,0,0,0,12.00018,4.5ZM5.28241,6.69678A.99989.99989,0,1,0,6.69647,5.28271l-1.06054-1.061A.99989.99989,0,0,0,4.22186,5.63574ZM4.50018,12a1,1,0,0,0-1-1h-1.5a1,1,0,0,0,0,2h1.5A1,1,0,0,0,4.50018,12Zm.78223,5.30322-1.06055,1.061a.99989.99989,0,1,0,1.41407,1.41406l1.06054-1.061a.99989.99989,0,0,0-1.41406-1.41407ZM12.00018,19.5a1.00005,1.00005,0,0,0-1,1V22a1,1,0,0,0,2,0V20.5A1,1,0,0,0,12.00018,19.5Zm6.71729-2.19678a.99989.99989,0,0,0-1.41406,1.41407l1.06054,1.061A.99989.99989,0,0,0,19.778,18.36426ZM22.00018,11h-1.5a1,1,0,0,0,0,2h1.5a1,1,0,0,0,0-2ZM18.01044,6.98975a.996.996,0,0,0,.707-.293l1.06055-1.061A.99989.99989,0,0,0,18.364,4.22168l-1.06054,1.061a1,1,0,0,0,.707,1.707ZM12.00018,6a6,6,0,1,0,6,6A6.00657,6.00657,0,0,0,12.00018,6Zm0,10a4,4,0,1,1,4-4A4.00458,4.00458,0,0,1,12.00018,16Z">
            </path>
          </svg>
          <h5>Switch appearance</h5>
        </button>
        <button class="sentii">
          <svg aria-label="Report a problem" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="18"
            role="img" viewBox="0 0 24 24" width="18">
            <title>Report a problem</title>
            <path
              d="M18.001 1h-12a5.006 5.006 0 0 0-5 5v9.005a5.006 5.006 0 0 0 5 5h2.514l2.789 2.712a1 1 0 0 0 1.394 0l2.787-2.712h2.516a5.006 5.006 0 0 0 5-5V6a5.006 5.006 0 0 0-5-5Zm3 14.005a3.003 3.003 0 0 1-3 3h-2.936a1 1 0 0 0-.79.387l-2.274 2.212-2.276-2.212a1 1 0 0 0-.79-.387H6a3.003 3.003 0 0 1-3-3V6a3.003 3.003 0 0 1 3-3h12a3.003 3.003 0 0 1 3 3Zm-9-1.66a1.229 1.229 0 1 0 1.228 1.228A1.23 1.23 0 0 0 12 13.344Zm0-8.117a1.274 1.274 0 0 0-.933.396 1.108 1.108 0 0 0-.3.838l.347 4.861a.892.892 0 0 0 1.77 0l.348-4.86a1.106 1.106 0 0 0-.3-.838A1.272 1.272 0 0 0 12 5.228Z">
            </path>
          </svg>
          <h5>Report a problem</h5>
        </button>
      </div>
      <div class="neeche">
        <button class="sentiii">
          <h5>Switch accounts</h5>
        </button>

        <a href="/logout">
          <button class="sentiii">
            <h5>Log out</h5>
          </button>
        </a>
      </div>
    </div>
    <%- include('./partials/header') %>
      <div id="right">
        <div class="staary">
          <div id="storybtn" class="storybox">
            <div class="storydp">
              <img src="../images/uploads/<%=user.dp%>" alt="" />
            </div>
            <i id="add" class="ri-add-circle-fill"></i>
            <div class="text">
              <h6>
                <%=user.username.slice(0,7)%>...
              </h6>
            </div>
          </div>
          <div class="storycontent">
            <% stories.reverse().forEach((story)=>{ %>

              <a href="/story/<%=story._id%>" class="storycover">
                <div class="storybox">
                  <div class="storydp">
                    <img src="/post/<%=story.file%>" alt="" />
                  </div>
                  <div class="text">
                    <h6>
                      <%=story.author.username.slice(0,7)%>...
                    </h6>
                  </div>
                </div>

              </a>
              <% }) %>
          </div>
        </div>
        <div class="feeds"></div>
        <div class="loadbtn">Loading...</div>
      </div>
      <div class="pop">
        <div id="confirm-box">
          <p>Are you sure you want to proceed?</p>
          <button id="confirm-yes">Yes</button>
          <button id="confirm-no">No</button>
        </div>
        <a href="/feed" id="boo">
          <svg aria-label="Close" class="x1lliihq x1n2onr6 x9bdzbf" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Close</title>
            <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="3"></polyline>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
          </svg>
        </a>
        <div class="model">
          <div class="contain">
            <a id="too">
              <svg aria-label="Back" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <title>Back</title>
                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  x1="2.909" x2="22.001" y1="12.004" y2="12.004"></line>
                <polyline fill="none" points="9.276 4.726 2.001 12.004 9.276 19.274" stroke="currentColor"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
              </svg>
            </a>
            <h4>Create new post</h4>
            <h4 id="next">Next</h4>
          </div>

          <div class="overcover">
            <div id="preview">
              <img src="" id="pre" />
              <video controls src="" id="vid"></video>
              <form action="/postcreator" method="post" enctype="multipart/form-data">
                <div class="store">
                  <input type="file" class="file" name="file" style="display: none" />
                  <svg id="rolo" aria-label="Icon to represent media such as images or videos"
                    class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="77" role="img" viewBox="0 0 97.6 77.3"
                    width="96">
                    <title>
                      Icon to represent media such as images or videos
                    </title>
                    <path
                      d="M16.3 24h.3c2.8-.2 4.9-2.6 4.8-5.4-.2-2.8-2.6-4.9-5.4-4.8s-4.9 2.6-4.8 5.4c.1 2.7 2.4 4.8 5.1 4.8zm-2.4-7.2c.5-.6 1.3-1 2.1-1h.2c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1-1.7 0-3.1-1.4-3.1-3.1 0-.8.3-1.5.8-2.1z"
                      fill="currentColor"></path>
                    <path
                      d="M84.7 18.4 58 16.9l-.2-3c-.3-5.7-5.2-10.1-11-9.8L12.9 6c-5.7.3-10.1 5.3-9.8 11L5 51v.8c.7 5.2 5.1 9.1 10.3 9.1h.6l21.7-1.2v.6c-.3 5.7 4 10.7 9.8 11l34 2h.6c5.5 0 10.1-4.3 10.4-9.8l2-34c.4-5.8-4-10.7-9.7-11.1zM7.2 10.8C8.7 9.1 10.8 8.1 13 8l34-1.9c4.6-.3 8.6 3.3 8.9 7.9l.2 2.8-5.3-.3c-5.7-.3-10.7 4-11 9.8l-.6 9.5-9.5 10.7c-.2.3-.6.4-1 .5-.4 0-.7-.1-1-.4l-7.8-7c-1.4-1.3-3.5-1.1-4.8.3L7 49 5.2 17c-.2-2.3.6-4.5 2-6.2zm8.7 48c-4.3.2-8.1-2.8-8.8-7.1l9.4-10.5c.2-.3.6-.4 1-.5.4 0 .7.1 1 .4l7.8 7c.7.6 1.6.9 2.5.9.9 0 1.7-.5 2.3-1.1l7.8-8.8-1.1 18.6-21.9 1.1zm76.5-29.5-2 34c-.3 4.6-4.3 8.2-8.9 7.9l-34-2c-4.6-.3-8.2-4.3-7.9-8.9l2-34c.3-4.4 3.9-7.9 8.4-7.9h.5l34 2c4.7.3 8.2 4.3 7.9 8.9z"
                      fill="currentColor"></path>
                    <path
                      d="M78.2 41.6 61.3 30.5c-2.1-1.4-4.9-.8-6.2 1.3-.4.7-.7 1.4-.7 2.2l-1.2 20.1c-.1 2.5 1.7 4.6 4.2 4.8h.3c.7 0 1.4-.2 2-.5l18-9c2.2-1.1 3.1-3.8 2-6-.4-.7-.9-1.3-1.5-1.8zm-1.4 6-18 9c-.4.2-.8.3-1.3.3-.4 0-.9-.2-1.2-.4-.7-.5-1.2-1.3-1.1-2.2l1.2-20.1c.1-.9.6-1.7 1.4-2.1.8-.4 1.7-.3 2.5.1L77 43.3c1.2.8 1.5 2.3.7 3.4-.2.4-.5.7-.9.9z"
                      fill="currentColor"></path>
                  </svg>
                  <p id="adp">Drag photos and videos here</p>
                  <div class="golgol"><a>Select from computer</a></div>
                </div>
                <div class="caption">
                  <div class="first">
                    <div class="captiondp">
                      <img src="../images/uploads/<%= user.dp %>" alt="" />
                    </div>
                    <h5>
                      <%= user.username %>
                    </h5>
                  </div>
                  <input type="text" id="caption" name="caption" placeholder="Write a caption" />
                  <button style="cursor: pointer" id="share" type="submit">
                    Share
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="pop2">
        <div class="boxer">
          <div class="cpp">
            <h3>Add to story</h3>
          </div>
          <div style="cursor: pointer;" class="up">
            <h5>Add photo</h5>
            <form id="storyform" action="/story" method="post" enctype="multipart/form-data">

              <input style="display: none;" type="file" name="story" id="profile2">
            </form>
          </div>
          <div style="cursor: pointer;" class="rmp">
            <h5>Delete story</h5>
          </div>

          <a href="" id="profil">
            <div style="cursor: pointer;" class="can">
              <h5>Cancel</h5>
            </div>
          </a>

        </div>
      </div>
      <div class="pop dope">

        <a href="/feed" id="boo">
          <svg aria-label="Close" class="x1lliihq x1n2onr6 x9bdzbf" fill="currentColor" height="18" role="img"
            viewBox="0 0 24 24" width="18">
            <title>Close</title>
            <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="3"></polyline>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
          </svg>
        </a>
        <div class="model">
          <div class="containn">
            <h5 id="bhosdi">bhosdii</h5>
            <h5 id="ol">Add new story</h5>
            <h5 id="shishi">Share</h5>
          </div>

          <div class="overcover">
            <div id="preview">
              <img src="" id="pre2" />
              <video controls src="" id="vid2"></video>




            </div>
          </div>
        </div>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"
    integrity="sha512-m9S8W3a9hhBHPFAbEIaG7J9P92dzcAWwM42VvJp5n1/M599ldK6Z2st2SfJGsX0QR4LfCVr681vyU5vW8d218w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="../javascript/feed.js"></script> -->
  <script>
    var count = 0;
    var posts = [];
    var user = null;
    var temp = "";
    var feeds = document.querySelector(".feeds");
    var right = document.querySelector("#right");
    var loadbtn = document.querySelector(".loadbtn");

    right.addEventListener("scroll", (e) => {
      if (e.target.scrollTop + 820 > right.scrollHeight) {
        setTimeout(() => {
          fetchPost(count);
        }, 1000);
      }
    });

    const fetchPost = async (page) => {
      var limit = 5;
      const { data } = await axios.get(`/feeds/${page}/${limit}`);
      if (data.posts.length === 0) {
        loadbtn.style.display = "none";
      }
      posts.push(...data.posts);
      user = data.user;
      feeds.innerHTML = handleloop(data);
      count += 1;
    };

    feeds.addEventListener("click", (e) => {
      if (e.target.classList.contains("like")) {
        handleLike(e.target.id);
      } else if (e.target.classList.contains("bookmark")) {
        handleBookmark(e.target.id);
      }
    });

    feeds.addEventListener("dblclick", (e) => {
      if (e.target.classList.contains("dbllike")) {
        handleLike(e.target.id);
      }
    });

    function timeAgo(input) {
      const date = input instanceof Date ? input : new Date(input);
      const formatter = new Intl.RelativeTimeFormat("en");
      const ranges = {
        years: 3600 * 24 * 365,
        months: 3600 * 24 * 30,
        weeks: 3600 * 24 * 7,
        days: 3600 * 24,
        hours: 3600,
        minutes: 60,
        seconds: 1,
      };
      const secondsElapsed = (date.getTime() - Date.now()) / 1000;
      for (let key in ranges) {
        if (ranges[key] < Math.abs(secondsElapsed)) {
          const delta = secondsElapsed / ranges[key];
          return formatter.format(Math.round(delta), key);
        }
      }
    }

    const handleloop = (data) => {
      data.posts.forEach((post) => {
        temp += `
    <div class="postcontent">
      <div class="ptop">
        <div class="lf">
          <a href="/profile/${post.user.username}" class="userdp">
            <img src="../images/uploads/${post.user.dp}" alt="" />
          </a>
          <a style="color: black" href="/profile/${post.user.username}">
            ${post.user.username}
          </a>
          <span>${timeAgo(post.time) ? timeAgo(post.time) : "1 second ago"
          }</span>
        </div>
        <div class="rt">
          <svg
            aria-label="More options"
            class="x1lliihq x1n2onr6 x5n08af"
            fill="currentColor"
            height="24"
            role="img"
            viewBox="0 0 24 24"
            width="24"
          >
            <title>More options</title>
            <circle cx="12" cy="12" r="1.5"></circle>
            <circle cx="6" cy="12" r="1.5"></circle>
            <circle cx="18" cy="12" r="1.5"></circle>
          </svg>
        </div>
      </div>
      <div class="postphoto">
        <svg
          id="whiteheart"
          aria-label="Unlike"
          class="x1lliihq x1n2onr6 xxk16z8"
          fill="currentColor"
          height="24"
          role="img"
          viewBox="0 0 48 48"
          width="24"
        >
          <title>Unlike</title>
          <path
            d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
          ></path>
        </svg>
        ${post.filetype.split("/")[0] == "image"
            ? `<img id="${post._id}" class="dbllike" src="/post/${post.post}" alt="" />`
            : `<video id="${post._id}" class="dbllike reel" controls>
          <source src="/post/${post.post}" type="video/mp4">
        </video>`
          }

      </div>
      <div class="ptop">
        <div class="lf">
          ${post.likes.includes(data.user._id)
            ? `<svg
            id="${post._id}"
            aria-label="Unlike"
            class="like lick x1lliihq x1n2onr6 xxk16z8"
            fill="currentColor"
            height="24"
            role="img"
            viewBox="0 0 48 48"
            width="24"
          >
            <path
              id="${post._id}"
              class="like"
              d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
            ></path></svg
          >`
            : `<svg
            id="${post._id}"
            aria-label="Like"
            class="like likebtn x1lliihq x1n2onr6 xyb1xck"
            fill="currentColor"
            height="24"
            role="img"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              id="${post._id}"
              class="like"
              d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
            ></path></svg
          >`
          }

          <a style="color: black" href="/comment/${post._id}">
            <svg
              aria-label="Comment"
              class="x1lliihq x1n2onr6 x5n08af"
              fill="currentColor"
              height="24"
              role="img"
              viewBox="0 0 24 24"
              width="24"
            >
              <title>Comment</title>
              <path
                d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
            </svg>
          </a>
          <a
            style="color: black"
            href="http://web.whatsapp.com/send?text=http://localhost:3000/singlepost/${post._id
          }"
          >
            <svg
              aria-label="Share Post"
              class="x1lliihq x1n2onr6 x5n08af"
              fill="currentColor"
              height="24"
              role="img"
              viewBox="0 0 24 24"
              width="24"
            >
              <title>Share Post</title>
              <line
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
                x1="22"
                x2="9.218"
                y1="3"
                y2="10.083"
              ></line>
              <polygon
                fill="none"
                points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
              ></polygon>
            </svg>
          </a>
        </div>
        <div class="rt">
          <svg
            aria-label="Save"
            id="${post._id}"
            class="x1lliihq x1n2onr6 x5n08af bookmark"
            fill="currentColor"
            height="24"
            role="img"
            viewBox="0 0 24 24"
            width="24"
          >
            <polygon
              fill="${data.user.bookmarks.includes(post._id) ? "black" : "none"
          }"
              id="${post._id}"
              class="bookmark"
              points="20 21 12 13.44 4 21 4 3 20 3 20 21"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></polygon>
          </svg>
        </div>
      </div>
      <div class="pthre">
        <h5>Liked by<span id="totalLikes"> ${post.likes.length} </span></h5>
      </div>
      <div class="pcaption">
        <h5>${post.user.username}</h5>
        <h6>${post.caption}</h6>
      </div>
      <div class="pcomment">
        <h5>view all ${post.comments.length} comments</h5>
      </div>
    </div>`;
      });
      return temp;
    };

    fetchPost(count);

    const handleLike = async (e) => {
      await axios.get(`/like/${e}`);
      posts.forEach((post) => {
        if (post._id == e) {
          if (post.likes.includes(user._id)) {
            post.likes = post.likes.filter((id) => id != user._id);
          } else {
            post.likes.push(user._id);
          }
        }
      });
      temp = "";
      feeds.innerHTML = handleloop({ posts, user });
      // window.location.reload();
    };

    const handleBookmark = async (e) => {
      await axios.get(`/bookmark/${e}`);
      posts.forEach((post) => {
        if (post._id == e) {
          if (user.bookmarks.includes(post._id)) {
            user.bookmarks = user.bookmarks.filter((id) => id != post._id);
          } else {
            user.bookmarks.push(post._id);
          }
        }
      });
      temp = "";
      feeds.innerHTML = handleloop({ posts, user });
      // window.location.reload();
    };

    document.querySelector(".golgol").addEventListener("click", function () {
      document.querySelector(".file").click();
    });

    var file = document.querySelector(".file");
    var video = document.getElementById("vid");

    var image = document.getElementById("pre");
    file.addEventListener("change", async function (e) {
      // document.querySelector("#picturepost").submit()

      if (e.target.files[0].type === "video/mp4") {
        console.log("iff part");
        document.querySelector("#pre").style.display = "none";
        video.style.display = "initial";
        document.querySelector(".golgol").style.display = "none";
        document.querySelector("#adp").style.display = "none";
        document.querySelector(".store").style.display = "none";
        document.querySelector("#rolo").style.display = "none";
        document.querySelector("#next").style.display = "initial";
        document.querySelector("#too").style.display = "initial";
      } else {
        console.log("else part");
        document.querySelector(".golgol").style.display = "none";
        document.querySelector("#adp").style.display = "none";
        document.querySelector(".store").style.display = "none";
        document.querySelector("#rolo").style.display = "none";
        document.querySelector("#pre").style.display = "initial";
        document.querySelector("#next").style.display = "initial";
        document.querySelector("#too").style.display = "initial";
      }

      var input = e.target;
      console.log(input.files[0]);
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          if (input.files[0].type === "video/mp4") {
            video.src = e.target.result;
          } else {
            image.src = e.target.result;
          }
        };
        reader.readAsDataURL(input.files[0]);
      }
    });

    const showConfirmButton = document.getElementById("too");
    const confirmBox = document.getElementById("confirm-box");
    const confirmYesButton = document.getElementById("confirm-yes");
    const confirmNoButton = document.getElementById("confirm-no");

    showConfirmButton.addEventListener("click", () => {
      confirmBox.style.display = "initial";
    });

    confirmYesButton.addEventListener("click", (e) => {
      confirmBox.style.display = "none";
    });

    confirmNoButton.addEventListener("click", () => {
      confirmBox.style.display = "none";
    });

    document.querySelector("#next").addEventListener("click", function (e) {
      document.querySelector(".model").style.width = "55vmax";

      document.querySelector(".caption").style.display = "initial";
      document.querySelector("#preview").style.width = "37vmax";
      document.querySelector("#preview").style.borderRight =
        "1px solid #dbdbdb";
      document.querySelector("#next").style.display = "none";
    });
    var flag = true;
    document.querySelector(".more").addEventListener("click", function (e) {
      if (flag === true) {
        document.querySelector("#moreopt").style.display = "initial";
        document.querySelector("#mh").style.fontWeight = "700";
        flag = false;
      } else {
        document.querySelector("#moreopt").style.display = "none";
        document.querySelector("#mh").style.fontWeight = "400";
        flag = true;
      }
    });

    document.addEventListener("DOMContentLoaded", function (event) {
      var scrollpos = localStorage.getItem("scrollpos");
      if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
      localStorage.setItem("scrollpos", window.scrollY);
    };


    document.querySelector('#storybtn').addEventListener("click", function (e) {
      document.querySelector('#pop2').style.display = 'initial'
      document.querySelector('.up').addEventListener('click', function (e) {
        document.querySelector('#profile2').click();
      })
      document.querySelector('#profile2').addEventListener('change', function (e) {
        console.log("get profile photo");
        // document.querySelector('#storyform').submit();
        document.querySelector('#pop2').style.display = 'none'
        document.querySelector('.dope').style.display = 'initial'
        var videoo = document.getElementById("vid2");
        var imagee = document.getElementById("pre2");
        if (e.target.files[0].type === "video/mp4") {
          document.querySelector("#pre").style.display = "none";
          videoo.style.display = "initial";
          document.querySelector(".golgol").style.display = "none";
          document.querySelector("#adp").style.display = "none";
          document.querySelector(".store").style.display = "none";
          document.querySelector("#rolo").style.display = "none";
          document.querySelector("#next").style.display = "initial";
          document.querySelector("#too").style.display = "initial";
        } else {
          document.querySelector(".golgol").style.display = "none";
          document.querySelector("#adp").style.display = "none";
          document.querySelector(".store").style.display = "none";
          document.querySelector("#rolo").style.display = "none";
          document.querySelector("#pre2").style.display = "initial";
          document.querySelector("#next").style.display = "initial";
          document.querySelector("#too").style.display = "initial";
        }

        var input = e.target;
        console.log(input.files[0]);
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            if (input.files[0].type === "video/mp4") {
              videoo.src = e.target.result;
            } else {
              imagee.src = e.target.result;
            }
          };
          reader.readAsDataURL(input.files[0]);
        }
      })


    })
    document.querySelector('#shishi').addEventListener("click", function (e) {
      document.querySelector('#storyform').submit();
    });
  </script>
</body>

</html>
