<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>
</head>

<body>
    <div id="main">
       <%- include('./partials/header') %>
        <div id="right">
            <div class="overlay">
                <div class="box">
                    <a id="<%= founduser.username === user.username ? "profilePhoto":"" %>">
                        <div class="dp">
                            <img src="../images/uploads/<%=founduser.dp %>" alt="">
                        </div>
                    </a>
                    <div class="usd">
                        <div class="top">
                            <h3>
                                <%=founduser.username %>
                            </h3>
                           
                          
                            <% if(founduser.username === user.username){%>
                                <a href="/settings/<%=user.username%>"><button>Edit profile</button></a>
                                <svg aria-label="Options" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24"
                                    role="img" viewBox="0 0 24 24" width="24">
                                    <title>Options</title>
                                    <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <path
                                        d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                                        fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                                </svg>
                              
                           <% } else { %>
                            <% if(founduser.followers.includes(user._id)){ %>
                                <a href="/follow/<%= founduser._id %>">
                                    <button id="following">Following</button>
                                </a>
                            <% }else{ %>
                                <a href="/follow/<%= founduser._id %>">
                                    <button id="follow">Follow</button>
                                </a>
                            <% } %>
                                   <button id="msg">Message</button>
                          <% } %>
                            
                            
                        </div>
                        <div class="mid">
                            <h4><span><%=posts.length %> </span>posts</h4>
                            <h4><span><%=founduser.followers.length %> </span> followers</h4>
                            <h4><span><%=founduser.following.length %></span> following</h4>
                        </div>
                        <div class="end">
                            <h4>
                                <%=founduser.fullname %>
                            </h4>
                            
                        </div>
                        <div class="end2">
                            <p><%=founduser.bio%></p>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="cvr">
                        <div class="ol">
                            <div class="tl">

                                <svg aria-label="Plus icon" class="x1lliihq x1n2onr6 x10xgr34" fill="currentColor"
                                    height="44" role="img" viewBox="0 0 24 24" width="44">
                                    <title>Plus icon</title>
                                    <path
                                        d="M21 11.3h-8.2V3c0-.4-.3-.8-.8-.8s-.8.4-.8.8v8.2H3c-.4 0-.8.3-.8.8s.3.8.8.8h8.2V21c0 .4.3.8.8.8s.8-.3.8-.8v-8.2H21c.4 0 .8-.3.8-.8s-.4-.7-.8-.7z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <h5>New</h5>
                    </div>
                </div>
                <div class="line"></div>
                <div class="postcnt">
                    <div class="crlf">
                        <div class="op">
                            <svg aria-label="" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="12"
                                role="img" viewBox="0 0 24 24" width="12">
                                <title></title>
                                <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line>
                            </svg>
                            <h5>POSTS</h5>
                        </div>
                        <div class="op tara">
                            <svg aria-label="" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="12"
                                role="img" viewBox="0 0 24 24" width="12">
                                <title></title>
                                <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                    x1="2.049" x2="21.95" y1="7.002" y2="7.002"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="13.504" x2="16.362" y1="2.001" y2="7.002"></line>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="7.207" x2="10.002" y1="2.11" y2="7.002"></line>
                                <path
                                    d="M2 12.001v3.449c0 2.849.698 4.006 1.606 4.945.94.908 2.098 1.607 4.946 1.607h6.896c2.848 0 4.006-.699 4.946-1.607.908-.939 1.606-2.096 1.606-4.945V8.552c0-2.848-.698-4.006-1.606-4.945C19.454 2.699 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.546 2 5.704 2 8.552Z"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"></path>
                                <path
                                    d="M9.763 17.664a.908.908 0 0 1-.454-.787V11.63a.909.909 0 0 1 1.364-.788l4.545 2.624a.909.909 0 0 1 0 1.575l-4.545 2.624a.91.91 0 0 1-.91 0Z"
                                    fill-rule="evenodd"></path>
                            </svg>
                            <h5>REELS</h5>
                        </div>
                       <% if(founduser.username === user.username){%>
                        <a id="saved" href="/saved/<%=founduser.username%>">
                            <div class="op tara">
                                <svg aria-label="" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="12"
                                    role="img" viewBox="0 0 24 24" width="12">
                                    <title></title>
                                    <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                                </svg>
                                <h5>SAVED</h5>
                            </div>
                        </a>
                       <%}%>
                        <div class="op tara">
                            <svg aria-label="" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="12"
                                role="img" viewBox="0 0 24 24" width="12">
                                <title></title>
                                <path
                                    d="M10.201 3.797 12 1.997l1.799 1.8a1.59 1.59 0 0 0 1.124.465h5.259A1.818 1.818 0 0 1 22 6.08v14.104a1.818 1.818 0 0 1-1.818 1.818H3.818A1.818 1.818 0 0 1 2 20.184V6.08a1.818 1.818 0 0 1 1.818-1.818h5.26a1.59 1.59 0 0 0 1.123-.465Z"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"></path>
                                <path
                                    d="M18.598 22.002V21.4a3.949 3.949 0 0 0-3.948-3.949H9.495A3.949 3.949 0 0 0 5.546 21.4v.603"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"></path>
                                <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            </svg>
                            <h5>TAGGED</h5>
                        </div>
                    </div>
                </div>
                <% posts.reverse().forEach(post=> { %>
                    
                    <% if(post.filetype.split("/")[0]=="image"){ %>
                        <a href="/comment/<%=post._id%>">
                            <div class="post">
                                <img src="/post/<%=post.post %>" alt="">
                            </div>
                        </a>
                        <%}else{%>
                       <a href="/comment/<%=post._id%>">
                        <div class="post">
                            <video id="${post._id}" class="dbllike reel" controls>
                                <source src="/post/<%=post.post%>" type="video/mp4" />
                              </video>
                        </div>
                       </a>
                        <%}%>
                   

                    <% }); %>

            </div>
            <div class="pop">
                <div id="confirm-box">
                    <p>Are you sure you want to proceed?</p>
                    <button id="confirm-yes">Yes</button>
                    <button id="confirm-no">No</button>
                </div>
                <a id="boo"><svg aria-label="Close" class="x1lliihq x1n2onr6 x9bdzbf"
                        fill="currentColor" height="18" role="img" viewBox="0 0 24 24" width="18">
                        <title>Close</title>
                        <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                    </svg></a>
                <div class="model">
                    <div class="contain">
                        <a id="too"><svg aria-label="Back" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor"
                                height="24" role="img" viewBox="0 0 24 24" width="24">
                                <title>Back</title>
                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" x1="2.909" x2="22.001" y1="12.004" y2="12.004"></line>
                                <polyline fill="none" points="9.276 4.726 2.001 12.004 9.276 19.274"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"></polyline>
                            </svg></a>
                        <h4>Create new post</h4>
                        <h4 id="next">Next</h4>
                    </div>

                    <div class="overcover">
                        <div id="preview">
                            <img src="" id="pre">
                            <form action="/postcreator" method="post" enctype="multipart/form-data">
                                <div class="store">
                                    <input type="file" class="file" name="file" style="display: none;">
                                    <svg id="rolo" aria-label="Icon to represent media such as images or videos"
                                        class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="77" role="img"
                                        viewBox="0 0 97.6 77.3" width="96">
                                        <title>Icon to represent media such as images or videos</title>
                                        <path
                                            d="M16.3 24h.3c2.8-.2 4.9-2.6 4.8-5.4-.2-2.8-2.6-4.9-5.4-4.8s-4.9 2.6-4.8 5.4c.1 2.7 2.4 4.8 5.1 4.8zm-2.4-7.2c.5-.6 1.3-1 2.1-1h.2c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1-1.7 0-3.1-1.4-3.1-3.1 0-.8.3-1.5.8-2.1z"
                                            fill="currentColor"></path>
                                        <path
                                            d="M84.7 18.4 58 16.9l-.2-3c-.3-5.7-5.2-10.1-11-9.8L12.9 6c-5.7.3-10.1 5.3-9.8 11L5 51v.8c.7 5.2 5.1 9.1 10.3 9.1h.6l21.7-1.2v.6c-.3 5.7 4 10.7 9.8 11l34 2h.6c5.5 0 10.1-4.3 10.4-9.8l2-34c.4-5.8-4-10.7-9.7-11.1zM7.2 10.8C8.7 9.1 10.8 8.1 13 8l34-1.9c4.6-.3 8.6 3.3 8.9 7.9l.2 2.8-5.3-.3c-5.7-.3-10.7 4-11 9.8l-.6 9.5-9.5 10.7c-.2.3-.6.4-1 .5-.4 0-.7-.1-1-.4l-7.8-7c-1.4-1.3-3.5-1.1-4.8.3L7 49 5.2 17c-.2-2.3.6-4.5 2-6.2zm8.7 48c-4.3.2-8.1-2.8-8.8-7.1l9.4-10.5c.2-.3.6-.4 1-.5.4 0 .7.1 1 .4l7.8 7c.7.6 1.6.9 2.5.9.9 0 1.7-.5 2.3-1.1l7.8-8.8-1.1 18.6-21.9 1.1zm76.5-29.5-2 34c-.3 4.6-4.3 8.2-8.9 7.9l-34-2c-4.6-.3-8.2-4.3-7.9-8.9l2-34c.3-4.4 3.9-7.9 8.4-7.9h.5l34 2c4.7.3 8.2 4.3 7.9 8.9z"
                                            fill="currentColor"></path>
                                        <path
                                            d="M78.2 41.6 61.3 30.5c-2.1-1.4-4.9-.8-6.2 1.3-.4.7-.7 1.4-.7 2.2l-1.2 20.1c-.1 2.5 1.7 4.6 4.2 4.8h.3c.7 0 1.4-.2 2-.5l18-9c2.2-1.1 3.1-3.8 2-6-.4-.7-.9-1.3-1.5-1.8zm-1.4 6-18 9c-.4.2-.8.3-1.3.3-.4 0-.9-.2-1.2-.4-.7-.5-1.2-1.3-1.1-2.2l1.2-20.1c.1-.9.6-1.7 1.4-2.1.8-.4 1.7-.3 2.5.1L77 43.3c1.2.8 1.5 2.3.7 3.4-.2.4-.5.7-.9.9z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <p id="adp">Drag photos and videos here</p>
                                    <div class="golgol"><a>Select from computer</a></div>

                                </div>
                                <div class="caption">
                                    <div class="first">
                                        <div class="captiondp">
                                            <img src="https://images.unsplash.com/photo-1581382575275-97901c2635b7?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                alt="">
                                        </div>
                                        <h5>_manish_mandlekar_</h5>
                                    </div>
                                    <input type="text" id="caption" name="caption" placeholder="Write a caption">
                                    <button style="cursor: pointer;" id="share" type="submit">Share</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="pop2">
            <div class="boxer">
                <div class="cpp">
                    <h3>Change Profile Photo</h3>
                </div>
                <div style="cursor: pointer;" class="up">
                    <h5>Upload photo</h5>
                    <form id="changedp" action="/changedp" method="post" enctype="multipart/form-data">

                        <input style="display: none;" type="file" name="profile-photo" id="profile2">
                    </form>
                </div>
                <div style="cursor: pointer;" class="rmp">
                    <h5>Remove Current Photo</h5>
                </div>

                <a href="/profile/<%=user.username %>" id="profil">
                    <div style="cursor: pointer;" class="can">
                        <h5>Cancel</h5>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <script>
        function createpost() {
            var button = document.querySelector('#create')
            button.addEventListener('click', function (e) {
                document.querySelector('.pop').style.display = 'initial'
            })




            document.querySelector(".golgol").addEventListener("click", function () {
                console.log("gfgd");
                document.querySelector('.file').click()
            })

            document.querySelector(".file").addEventListener("change", function (e) {
                console.log(e);
                // document.querySelector("#picturepost").submit()
                document.querySelector(".golgol").style.display = "none"
                document.querySelector("#adp").style.display = "none"
                document.querySelector(".store").style.display = "none"
                document.querySelector("#rolo").style.display = "none"
                document.querySelector("#pre").style.display = "initial"
                document.querySelector("#next").style.display = "initial"
                document.querySelector("#too").style.display = "initial"
                var input = e.target;
                var image = document.getElementById('pre');
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        image.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            })



            const showConfirmButton = document.getElementById('too');
            const confirmBox = document.getElementById('confirm-box');
            const confirmYesButton = document.getElementById('confirm-yes');
            const confirmNoButton = document.getElementById('confirm-no');

            showConfirmButton.addEventListener('click', () => {
                confirmBox.style.display = 'initial';
            });

            confirmYesButton.addEventListener('click', (e) => {
                // Perform your action when the user clicks "Yes"
                // Example: window.location.href = 'proceed.html';
                confirmBox.style.display = 'none';

            });

            confirmNoButton.addEventListener('click', () => {
                // Close the confirm box when the user clicks "No"
                confirmBox.style.display = 'none';
            });



            document.querySelector("#next").addEventListener('click', function (e) {
                document.querySelector('.model').style.width = "55vmax"

                document.querySelector('.caption').style.display = "initial"
                document.querySelector('#preview').style.width = "37vmax"
                document.querySelector('#preview').style.borderRight = "1px solid #dbdbdb"
                document.querySelector("#next").style.display = "none"
            })
        }
        createpost();
        function changeprofilephoto() {

            document.querySelector('#profilePhoto').addEventListener('click', function (e) {
                document.querySelector('#pop2').style.display = 'initial'
            })

            document.querySelector('.up').addEventListener('click', function (e) {
                document.querySelector('#profile2').click();
            })
            document.querySelector('#profile2').addEventListener('change', function (e) {
                console.log("get profile photo");
                document.querySelector('#changedp').submit();
                window.reload()
            })
        }
        changeprofilephoto()


        document.querySelector('#saved').addEventListener('click', function (e) {
            document.querySelector('.saved').style.borderTop='1px solid black;'
        })
        document.querySelector('#boo').addEventListener('click', function (e) {
            document.querySelector('.pop').style.display='none'
        })
    </script>
</body>

</html>