<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/settings.css">
    
  </head>
</head>
<body>
    <div id="main">
        <%- include('./partials/header') %>
        <div class="center">
            <h1>Settings</h1>
            <button>
                <svg aria-label="" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><title></title><circle cx="12.004" cy="12.004" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle><path d="M18.793 20.014a6.08 6.08 0 0 0-1.778-2.447 3.991 3.991 0 0 0-2.386-.791H9.38a3.994 3.994 0 0 0-2.386.791 6.09 6.09 0 0 0-1.779 2.447" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path><circle cx="12.006" cy="9.718" fill="none" r="4.109" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle></svg>
                <h3>Edit Profile</h3>
            </button>
            <button class="hat">
                <svg aria-label="" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><title></title><path d="m21.306 14.019-.484-.852A6.358 6.358 0 0 1 20 9.997a7.953 7.953 0 0 0-4.745-7.302 3.971 3.971 0 0 0-6.51.002 7.95 7.95 0 0 0-4.74 7.323 6.337 6.337 0 0 1-.83 3.175l-.468.823a4.001 4.001 0 0 0 3.476 5.983h1.96a3.98 3.98 0 0 0 7.716 0h1.964a4.004 4.004 0 0 0 3.482-5.982Zm-9.304 6.983a1.993 1.993 0 0 1-1.722-1.001h3.444a1.993 1.993 0 0 1-1.722 1.001Zm7.554-3.997a1.986 1.986 0 0 1-1.732.996H6.184a2.002 2.002 0 0 1-1.74-2.993l.47-.822a8.337 8.337 0 0 0 1.093-4.174 5.962 5.962 0 0 1 3.781-5.584.996.996 0 0 0 .494-.426 1.976 1.976 0 0 1 3.439 0 1 1 0 0 0 .494.425 5.989 5.989 0 0 1 3.786 5.634 8.303 8.303 0 0 0 1.082 4.094l.483.852a1.984 1.984 0 0 1-.01 1.998Z"></path></svg>
                <h3>Notifications</h3>
            </button>
<a href="/forgot">
    <button class="hat">
        <svg id="sec" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x198g3q0 xxk0z11 xvy4d1p"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.73 4.594c-.45.25-.73.726-.73 1.241v4.104a12 12 0 0 0 6.172 10.49l1.857 1.031a2 2 0 0 0 1.942 0l1.857-1.031A12 12 0 0 0 21 9.939V5.835c0-.515-.28-.99-.73-1.24a17.03 17.03 0 0 0-16.54 0zM19 6.181a15.03 15.03 0 0 0-14 0V9.94a10 10 0 0 0 5.144 8.742L12 19.712l1.856-1.031A10 10 0 0 0 19 9.939V6.181z"></path></svg>
        <h3>Change Password</h3>
    </button>
</a>
        </div>
        <div class="right">
            <h2>Edit Profile</h2>
            <div class="profile">
               <div class="circ"> 
                <img src="../images/uploads/<%=users[0].dp%>" alt="">
               </div>
               <h2><%=users[0].username%></h2>
            </div>
            <form action="/updated" method="post" id="form">
                <h3>Email address</h3>
                <input type="email" disabled value="<%=users[0].email%>">
                <h3>Username</h3>
                <input type="text" value="<%=users[0].username%>" name="username" id="username">
                <h3>Fullname</h3>
                <input type="text" value="<%=users[0].fullname%>" name="fullname">
                <button class="btn" type="submit" >Submit</button>
            </form>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
       var user = document.querySelector("#username")
       user.addEventListener('input', function(e){
        
        if(user.value.length > 0){
            axios.get(`/check/${user.value}`).then((data)=>{
                if(data.data){
                    user.style.borderColor ="red"
                } else {
                    user.style.borderColor ="green"

                }
            })
        }
       })
    </script>
</body>
</html>